@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
    background-color: #5175AD;
}

.main_header {
    height: 100%;
    width: 80%;
    background-color: #39547f;
    display: flex;
    margin: auto;
    padding: 20px;
    font-family: 'PT Sans', sans-serif;
    justify-content: space-between;
    color: #DAEAFF;
}

h1 {
    margin: 0 auto;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #DAEAFF;
}

.menu {
    font-size: 24px;
    margin: 0;
    padding: auto;
}

.main__content {
    width: 80%;
    height: 1500px;
    background-color: #466494;
    margin: 0 auto;
}

.main__content > h2 {
    color: #DAEAFF;
    margin: 0 40px;
    padding-top: 40px;
    font-family: 'PT Sans', sans-serif;
}

p {
    color: #DAEAFF;
    font-size: 24px;
    text-align: left;
    margin: 0 45px 0 45px;
    padding-top: 40px;
    font-family: 'PT Sans', sans-serif;
}

.main__content > p {
    color: #DAEAFF;
    text-align: center;
}

img {
    margin: 30px;
}

.media {
    display: flex;
}

tr {
    color: #DAEAFF;
    background-color:#5175AD;
}

.table {
    margin: auto;
    border: 2px solid #2e4468;
}

.table td:nth-child(2) {
    width: 550px;
}

.table td:nth-child(3) {
    width: 100px;
}

.table td:nth-child(4) {
    width: 100px;
}

td {
    color: #DAEAFF;
    border: 1px double #2e4468;
    width: 150px;
}
